/node_modules
/public/hot
/public/extensions
/storage/*.key
/vendor
/public/storage
.env
.env.backup
.env.production
.env.local
.env.*.local

npm-debug.log
yarn-error.log
pnpm-debug.log

.phpunit.result.cache
.phpunit.cache

Homestead.json
Homestead.yaml
auth.json

.DS_Store
.idea
.vscode

/storage/logs/*
/storage/framework/cache/*
/storage/framework/sessions/*
/storage/framework/views/*
!/storage/framework/.gitignore
!/storage/logs/.gitignore

# Laravel Sail
/vendor/bin/sail

# PHPUnit
coverage.xml